.product {
  &__photo {
    width: 100%;
    @include img-transition;

    cursor: pointer;
  }

  &__title {
    text-transform: uppercase;
    color: $main-text-color;
  }

  &__category {
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
  }
}
