$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$effectDuration: 0.3s;

$main-text-color: #1B2129;
$header-color: #fff;
$background-button-default: #f98921;
$background-button-hover: #1B2129;
$background-button-active: #010810;
$background-forms: #f9f9f9;
$font-color-forms: #7E7E83;
$input-border-color: #DBDBDB;
$bottom-title-color: #9393A3;
$bottom-title-text: #191919;
